In [13]:
import pandas as pd
import numpy as np

# basic visualization library

import matplotlib.pyplot as plt
# Great visualization library
import seaborn as sns
%matplotlib inline

In [14]:
df = pd.read_csv('data/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
149           5.9          3.0           5.1          1.8  Iris-virginica
150           NaN          NaN           NaN          NaN  Iris-virginica
151          59.0         30.0          51.0         20.0  Iris-virginica
152          59.0         30.0          51.0         20.0  Iris-virginica
153          59.0         30.0          51.0         20.0  Iris-virginica

[154 rows x 5 columns]

<img src="blueflagiris_flower.jpg" style=width:400px>

In [15]:
df['class'].value_counts()

Iris-virginica     54
Iris-versicolor    50
Iris-setosa        50
Name: class, dtype: int64

<img src="iris-ml.png" alt="iris_ml" style="width:600px;height:200px;">

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  153 non-null    float64
 1   sepal_width   153 non-null    float64
 2   petal_length  153 non-null    float64
 3   petal_width   153 non-null    float64
 4   class         154 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.1+ KB

In [17]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
149         False        False         False        False  False
150          True         True          True         True  False
151         False        False         False        False  False
152         False        False         False        False  False
153         False        False         False        False  False

[154 rows x 5 columns]

In [18]:
df.isnull().sum()

sepal_length    1
sepal_width     1
petal_length    1
petal_width     1
class           0
dtype: int64

In [22]:
df.shape
df = df.dropna()
df.shape

(153, 5)

In [23]:
df.shape

(153, 5)